
<div>
    {{civility}} , <br/>

<p>
    Your Application for the position of enumerator {{poste}} has been well received by the Gbos. Your submission number is <strong> {{submissionNumber}}</strong> and your validation code: <strong>{{validationCode}}</strong>  .

</p>

<p>
    Your Application will soon be examined . 
</p>

<p>
    Wishing you good reception of this E-mail, please accept, {{civility}}, our highest consideration.
</p>

<div>
   <p style="text-align: center;">
    The Gambia Bureau of Statistics
   </p>
    <p style="text-align: center">
        <img src="{{ email.image('logo_gbos_2.png')}}" alt="Gbos Logo" >

    </p>
</div>


</div>